<nav class="nav nav_between">
    <div class="nav__logo">
        <img src="img/Icon.png" alt="">
    </div>
    <div class="nav__search">
        <div class="search">
            <input type="text" id="searchText" name="search" class="nav__input" required>
            <select name="" id="" class="nav__select">
                <option value="0">Все</option>
                <option value="1">Спортивные секция</option>
                <option value="2">Довузовское образование</option>
                <option value="3">Дошкольное образование</option>
                <option value="4">Дополнительные занятия</option>
            </select>
            <button class="search__active" id="search" value="Поиск" id="searchAction">Поиск</button>
        </div>
    </div>
    <div class="nav__log">
        <button class="nav__sign-in">Sign In</button>
        <button class="nav__sign-out">Sign Out</button>
    </div>
</nav>
<script src="js/nav.js" defer></script>