<nav class="nav nav_between">
    <a class="nav__logo" href="./index.html">
        <img src="img/Icon.png" alt="">
    </a>
    <div class="nav__search">
        <div class="search">
            <input type="text" id="searchText" name="search" class="nav__input" required>
            <select name="" id="navSelect" class="nav__select">
                <option value="Все">Все</option>
            </select>
            <button class="search__active" value="Поиск" id="searchAction">Поиск</button>
        </div>
    </div>
    <div class="nav__log">
        <a href="./login.html" class="nav__sign-in" id="signIn">Вход</a>
        <button class="nav__sign-out" id="signOut">Выход</button>
    </div>
</nav>
<script src="js/nav.js" defer></script>