<nav class="nav nav_between">
    <div class="nav__logo">
        <img src="img/Icon.png" alt="">
    </div>
    <div class="nav__search">
        <div class="search">
            <input type="text" id="searchText" name="search" class="nav__input" required>
            <select name="" id="navSelect" class="nav__select"> </select>
            <button class="search__active" value="Поиск" id="searchAction">Поиск</button>
        </div>
    </div>
    <div class="nav__log">
        <button class="nav__sign-in" id="signIn">Sign In</button>
        <button class="nav__sign-out" id="signOut">Sign Out</button>
    </div>
</nav>
<script src="js/nav.js" defer></script>