<link rel="stylesheet" href="css/admin.css">

<div class="create-card" id="redactorCard" style="display: none">
    <span id="closeRedactor" class="close-redactor"></span>
    <select name="category" id="categoryNewCard" class="">
        <option value="Резюме">Резюме</option>
    </select>
    <h2> Заголовок </h2>
    <textarea name="title" id="cardNewTitle" cols="30" rows="10" required></textarea>
    <h2> Текст </h2>
    <textarea name="description" id="cardNewDesk" cols="30" rows="10" required></textarea>
    <button id="sendNewCard">Отправить</button>
</div>

<script src="js/admin.js" defer></script>