@import (less) "_media.less";

.nav {
  width: 100%;
  display: block;
  background-color: #2e5aa5;
  padding: 0 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  &_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 50px;
    margin: 5px;

    img {
      width: 100px;
    }
  }

  &__log {
    display: flex;
  }

  &__sign-in {
    width: 150px;
    height: 50px;
    background-color: #fff;
  }

  &__input {
    width: 500px;
    font-size: 23px;
    margin-top: 10px;
    padding: 3px 5px;
    background-color: #d0d0d0;
    border: none;
    color: #fff;
    float: left;
  }

  &__select {
    font-size: 22px;
    padding: 3px;
    margin-top: 10px;
    border-radius: 0;
    background-color: #8d8b8d;
    color: #d0d0d0;
    border: none;
    min-width: 100px;
  }


  &__sign-in,
  &__sign-out {
    width: 70px;
    height: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #c4c4c4;
    margin-right: 4px;
    border-radius: 10px;
    font-size: 18px;
    color: #222;
    cursor: pointer;
    transition: .5s;

    &:hover {
      box-sizing: border-box;
      border: 1px solid #222;
      background-color: #a8a6a8;
    }
  }
}

.search{
  &__active {
    font-size: 22px;
    padding: 4px 5px;
    box-sizing: border-box;
    border: none;
    margin-top: 10px;
    background-color: #8d8b8d;
    color: #d0d0d0;
    margin-left: 10px;
  }
}