body{
  background-color: #2e5aa5;
  color: white;
  display: flex;
  justify-content: center;
}

.register{
  background-color: #8d8b8d;
  border-radius: 7px;
  width: 15%;
  padding: 10px;
  margin-top: 24vh;
}

.register__title{
  display: flex;
  justify-content: center;
}

.register__item{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.register__label{
  margin-top: 10px;
}

.register__submit{
  margin-top: 10px;
}

.image{
  position: absolute;
  width: 100px;
}

#meowtwo{
  left: 94%;
}

#megaman{
  top: 87%;
  right: 94%;
}

#ponyta{
  right: 94%;
}

#lapras{
  top: 88%;
  left: 94%;
}

#mario{
  top: 55%;
  left: 30%;
}

#mushroom{
  top: 55%;
  left: 65%;
}

#star{
  top: 10%;
  left: 47%;
}

#tottoro{
  top: 88%;
}