body{
  background-color: #222;
}

.body{
  display: flex;
  justify-content: flex-start;
  padding: 0% 5%;
  margin-top: 1.5%;
  boz-sizing: border-box;
  position: relative;
}

.block_menu{
  width: 20%;
}

.block_info{
  //background-color: crimson;
  margin: 0% 2%;
  width: 55%;
}

.ava_fio{
  display: flex;
  justify-content: flex-start;
  background-color: #2e5aa5;
  border-radius: 7px;
}

.list_of_circles{
  background-color: #2e5aa5;
  border-radius: 7px;
  padding: 0.5% 0%;
  margin-top: 1%;
  boz-sizing: border-box;
}

<<<<<<< HEAD
.add__baner {
  width: 300px;
  height: 100px;
  background-color: #2e5aa5;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
=======
.comment{
  margin-top: 2%;
  background-color: #2e5aa5;
  border-radius: 7px;
}

.circle_info{
  background-color: #2e5aa5;
  border-radius: 7px;
  padding: 2%;
>>>>>>> ad96f4f7bc7556531d8438d881b8d395984348e8
}